.rh-trusted
.#*
/.log
.env
.aider*

# Nix

/.direnv
.pre-commit-config.yaml

# Python

__pycache__/
*.py[cod]
*$py.class

.ruff_cache/

# Node.js

node_modules

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*
